body{
  background:url(http://imageshack.com/a/img19/4871/x1c9.png) bottom no-repeat;
  background-size:100% 90%;
}

nav{
  background-color:rgba(181,181,182,0.4);
  text-align:right;
  font-family:'Marcellus SC', serif;
  font-size:24px;
  color:slategray;
  line-height:2.5;
  padding:2em 1em 1em;
}

a:link{
  text-decoration: none;
  color:slategray;
}

a:hover{
  color:black;
  font-size:26px;
}

a:visited{
  color:grey;
}

#pic_me{
  padding:5% 1% 0% 20%;
}

section{
  padding:0em 2em;
  margin:0% 10% 1.5% 40%;
}

#name_me{
  font-family: 'Special Elite', cursive;;
  font-size:30px;
  color:black;
}

#h_1,
#h_2,
#h_3,
#h_4{
  color:#3E3A39;
  font-family: 'Redressed', cursive;
  font-size:20px;
  text-decoration: underline;
  line-height:1;
}

#c_1,
#c_2,
#c_3,
#c_4{
  color:#EFEFEF;
  font-family: 'Metrophobic', '微軟正黑體', sans-serif;
  font-size:14px;
}

ul{
  display: inline;
  
}

li{
  display: block;
  line-height:1.5;
}




footer{
  text-align:center;
  font-size:12px;
  font-family:'Share Tech Mono', sans-serif;
  padding:1% 10%;
}