@charset "UTF-8"

body{
  position:relative;
  width:700px;
  padding:5em 30em;
 background:url(http://subtlepatterns.com/patterns/tree_bark.png) repeat; 
 }

header{
  width:850px;
  text-align:center;
  color:dimgray;
  font-size:20px;
  line-height:1.5;
  font-family: 'Covered By Your Grace', cursive;
 }

h{
  color:slategray;
  font-family: 'Miltonian Tattoo', cursive;
  font-size:54px;
  line-height:1.5;
}

.animation{
  width:850px;
  padding:1em 0;
  text-align:center;
}


.pic-link{
  width:1200px;
}

#design-pic,
#planglobal-pic,
#product-pic,
#media-report-pic,
#event-pic,
#research-pic{
  padding:1em 2em 1em 0;
}

.links{
  width:1000px;
  font-size:22px;
  font-family: 'Montez', cursive;
  line-height:1.2;
}

#design{
  padding:0 2em 0 1.5em;
}
#global{
  padding:0 0 0 1.2em;
}

#product{
  padding:0 1em 0 3em;
}

#media-report{
  padding:0 1em 0 2em;
}

#event{
  padding:0 0em 0 2em;
}

#research{
   padding:0 0em 0 4em;
}

.middle-link{
  width:1200px;
}

  ul{
  display: inline-block;
  padding:0em 1.4em 0 1em;
  line-height:20px;
  vertical-align:text-top;
}

li{
  display: block;
  
}

.buttom-link{
  width:1000px; 
  text-align:center;
}
.sub-link{
  width:900px; 
  text-align:right;
}


footer{
  width:900px;
  text-align:center;
}

